<% content_for :title, "Editing user" %>

<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>



<div class="kac">

  <%= button_to 'Powrót',  users_path, method: :get, class: 'btn btn-secondary' %>

</div>